/current_data_files/.ipynb_checkpoints/
/current_data_files/__pycache__/
/current_data_files/jupyter_scratchpads/.ipynb_checkpoints/
/current_data_files/parameters_list.txt
/current_data_files/pictures/
/current_data_files/rosservice_list.txt
/current_data_files/rostopic_echo.txt
/current_data_files/sd.xyz

/src/data_files/ca_subCA_das_2020010615.nc
/src/data_files/crm_socal_1as_vers2.nc
/src/data_files/san_diego_13_mhw_2012.nc
/src/data_files/san_diego_13_navd88_2012.nc
/src/data_files/san_francisco_13_navd88_2010.nc
/src/data_files/southern_calif_crm_v1.nc

/src/trash_finder/scripts/*.pyc
/src/trash_utils/src/trash_utils/*.pyc
stay.txt
