/current_data_files/.ipynb_checkpoints/
/current_data_files/__pycache__/
/current_data_files/jupyter_scratchpads/.ipynb_checkpoints/
/current_data_files/parameters_list.txt
/current_data_files/pictures/
/current_data_files/rosservice_list.txt
/current_data_files/rostopic_echo.txt
/current_data_files/sd.xyz

/src/data_files/*.nc

/.catkin_tools/
/build/
/devel/
/logs/

/src/trash_finder/scripts/*.pyc
/src/trash_utils/src/trash_utils/*.pyc
/src/trash_utils/src/trash_utils/__pycache__/
stay.txt

/src/3d_sim/*.pyc
/src/3d_sim/*.png
/src/3d_sim/Pictures/
/src/3d_sim/*.csv
/src/3d_sim/check/
/src/3d_sim/check_blobs/
/src/3d_sim/check_blobs_san_pedro/
/src/3d_sim/check_blobs_santa_monica/
/src/3d_sim/hotspot0/
/src/3d_sim/hotspot1/
/src/3d_sim/hotspot2/
/src/3d_sim/hotspot3/
/src/3d_sim/hotspot4/
/src/3d_sim/hotspot5/
/src/3d_sim/mission_bay_costs/
/src/3d_sim/san_nicolas_costs/
/src/3d_sim/santa_monica_costs/
/src/3d_sim/surface_costs/
/src/3d_sim/.ipynb_checkpoints/
/src/3d_sim/astar_costs/

/src/trash_finder/scripts/old/
/src/trash_finder/scripts/nominal_pics/
/src/trash_finder/scripts/*.txt

/src/trash_worlds/models/lajolla_cove/
/src/trash_worlds/models/mission_bay/
/src/trash_worlds/models/san_fran_shoal/
