<launch>
	<arg name="uuv_name" default="rexrov4"/>
	<arg name="current_file_path" default="$(find trash_finder)/scripts/ca_subCA_das_2020010615.nc"/>

	<node pkg="trash_finder"
		  type="uuv_local_current.py"
		  name="publish_hydroforecast_$(arg uuv_name)"
		  args="$(arg current_file_path) $(arg uuv_name)"
		  output="screen">
	</node>

</launch>